* {
    margin: 0;
    padding: 0;
}

.navigation {
    height: 70px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-family: var(--font-1); */
}

.nav-left {
    font-size: 35px;
    display: flex;
    /* background-color: rgb(14, 6, 246); */
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    
}
.nav-left ul li a {
    /* transition: all 0.3s ease-in-out; */
    text-decoration: none;
    color: black;
}
.nav-left ul li a:hover{
    color:red;
    /* background-color: brown; */
    font-weight: bold;
}

.nav-left ul {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
}

.nav-right {
    font-size: 20px;
    /* background-color: rgb(235, 12, 16); */
}

.form-input {
    font-family: var(--font-1);
    padding: 0px 5px;
    padding-bottom: 4px;

    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 13px;

}

.btn {

    font-family: var(--font-1);
    padding: 4px 11px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    color: white;
    background-color: brown;
}

.content {
    display: flex;
    height: 320px;
    /* background-color: rgb(147, 151, 223); */
    padding: 9px;
    position: relative;
}
.content::after{
    content: "";
    background-image: url(../img/typing.jpg);
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.20;
} 
.content-left {
    width: 50%;
    font-family: var(--font-1);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
    
}

.content-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    width: 50%;
    height: 290px;
    border: 2px solid black;
    border-radius: 200px;

}
.home-articles{
    padding-top: 23px;
    background-color: rgb(238, 226, 226);
    margin-top: 23px;
}
.home-article{
    display: flex;
    margin :25px;
}
.home-article img{
    width: 210px;
}
.home-article-content{
    align-self: center;
    padding:0px  20px;
}
.home-article-content h3{
    padding-top: 10px;
}
.home-article-content a{
    text-decoration: none;
    color: --main-bg-color   ;
}
.home-article-content span{
    padding: 0px 10px;
}
.footer {
    height: 100px;
    /* background-color: rgb(25, 224, 85); */
    display: flex;
    align-items: center;
    justify-content: center;
}