* {
    margin: 0;
    padding: 0;
}

.navigation {
    height: 70px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-family: var(--font-1); */
}

.nav-left {
    font-size: 20px;
    display: flex;
    /* background-color: rgb(14, 6, 246); */
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    
}
.nav-left ul li a {
    /* transition: all 0.3s ease-in-out; */
    text-decoration: none;
    color: black;
}
.nav-left ul li a:hover{
    color:red;
    /* background-color: brown; */
    /* font-weight: bolder; */
}

.nav-left ul {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 77px;
    font-size: 18px;
}

.nav-right {
    font-size: 20px;
    /* background-color: rgb(235, 12, 16); */
}

.form-input {
    font-family: var(--font-1);
    padding: 0px 5px;
    padding-bottom: 4px;

    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 13px;

}

.btn {

    font-family: var(--font-1);
    padding: 4px 11px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    color: white;
    background-color: brown;
}

.content {
    display: flex;
    height: 320px;
    background-color: rgb(147, 151, 223);
    padding: 9px;
}

.content-left {
    width: 50%;
    font-family: var(--font-1);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    
}

.content-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    width: 50%;
    height: 290px;
    border: 2px solid black;
    border-radius: 200px;

}

.footer {
    height: 100px;
    /* background-color: rgb(25, 224, 85); */
}