@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {

    --main-bg-color: purple;
    --font-1:  'Oswald', sans-serif;


}


.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.auto {
    margin: auto;
}

